@page
@using ArcadeLauncher.Pages.Components;
@model IndexModel
@{
    ViewData["Title"] = "Arcade Machine Menu";

}

<div id="StartText" class="text-center font-text ">
    <div id="start-button" class="menu-color"> </div>
    <h2 style="font-size: 300%; position:absolute; transform: translateY(8px)">START</h2>

</div>

<div id="MenuText" class="text-center reveal">
    @(await Html.RenderComponentAsync<ButtonsComponent>(RenderMode.Server))
    </div>

<script src="~/js/index.js"></script>


