@page
@using ArcadeLauncher.Pages.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    @(await Html.RenderComponentAsync<CountComponent>(RenderMode.Server))

</div>
