html {
  font-size: 14px;
}

@font-face {
    font-family: boldlineRegular;
    src: url(/Fonts/Boldine.ttf);
}

.font-text{
    font-family: boldlineRegular;
}

.big-text{
    font-size: 35px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#backgroundimage {
    background: url("images/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.info-padding{
    padding: 2em;
    text-align: center;
    letter-spacing: 3px;
}

.hidden{
    display: none !important;
}

.play-btn {
    all:unset;
    margin: 10px;
    background-size: cover;
    height: 20vh;
    width: 20vh;
    display: inline-block;
    opacity: 1;
    border: none;
    border-radius: 15px;
}

.top-padding{
    padding-top: 40px;
}

.play-btn:focus {
    box-shadow: 0 0 30px 15px var(--mainColor);
}

.button-center {
    position: relative;
    top: 50px

}

.info-board {
    background-color: #967bb67d !important;
    box-shadow: 0 0 10px 10px #967bb67d;
    margin: 2em;
    background-size: cover;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: calc(100% - 4em);
}

#StartText {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
