html {
  font-size: 14px;
}

@font-face {
    font-family: boldlineRegular;
    src: url(/Fonts/Boldine.ttf);
}

.font-text{
    font-family: boldlineRegular;
}

.big-text{
    font-size: 35px;
}
.mid-text{
    font-size: 20px;
}

#playericons{
   position:absolute;
   bottom: 0;
   left: 1;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.cat-text{
    text-align: left !important;
    padding-left: 20px;
    padding-top: 10px
}

#backgroundimage {
    background: url("images/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.info-padding{
    padding: 2em;
    text-align: center;
    letter-spacing: 3px;
}

.hidden{
    display: none !important;
}

.play-btn {
    all:unset;
    margin: 10px;
    background-size: cover;
    height: 20vh;
    width: 20vh;
    display: inline-block;
    opacity: 1;
    border: none;
    border-radius: 15px;
}

.top-padding{
    padding-top: 40px;
}

.play-btn:focus {
    box-shadow: 0 0 30px 15px var(--mainColor);
}

.button-center {
    position: relative;
    top: 50px

}

.info-board {
    background-color: #967bb67d !important;
    box-shadow: 0 0 10px 10px #967bb67d;
    margin: 2em;
    background-size: cover;
    border-radius: 40px;
    position: absolute;
    right:0;
    top:0;
    height: calc(100% - 4em);
    width: 35em;
}

#StartText {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.img-info-board {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/css/images/info_display.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 73vh;
}

.img-section {
    background-image: url(/css/images/scroll_menu_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 111vh;
    position: absolute;
    left: 0;
    top: 1em;
}
