@using ArcadeLauncher.Models;
@using Microsoft.AspNetCore.Components.Web
@using ArcadeLauncher.Services;
@inject GameService gameservice;

@{
    GameInfo[] games = gameservice.GetAllManifests();
}

<div class="">
    <h2 class="font-text big-text cat-text">NEW</h2>
    <div style="width:69%; height:2px; background-color:white !important;"></div>
    <div class="top-padding slick-track game-track">
        @for (int i = 0; i < games.Length; i++)
        {
            GameInfo game = games[i];
            ObtainImage(game);
            <button style="background-image: url(@imgSrc); --mainColor: @game.Manifest.BackgroundColor; " class="play-btn" @onfocus="() => SetInfo(game)" @onclick="() => OpenExe(game)"></button>
        }
    </div>

    <h2 class="font-text big-text cat-text">STAFF PICK</h2>
    <div style="width:69%; height:2px; background-color:white !important;"></div>

    <h2 class="font-text big-text cat-text">A-Z</h2>
    <div style="width:69%; height:2px; background-color:white !important;"></div>

</div>


<div class="info-board info-padding">
    <div class="font-text">
        <div class="big-text">@gameName</div>

        <div style="width:100%; height:2px; background-color:white !important;" class="hline"></div>
        <div class="font-text mid-text">
            @gameDesc
        </div>
        <div id="playericons">
            @for (int i = 0; i < playersNeeded; i++)
            {
                <img style="padding-right: 5px;" src="/css/images/PlayerIcon.png" alt="i" />
            }
        </div>

    </div>
</div>
@code {
    private int currentCount = 0;

    private string gameDesc;
    private string gameName;
    private int playersNeeded;

    private string imageBase64;
    private string imgSrc = "";

    private void OpenExe(GameInfo game)
    {
        gameservice.OpenExe(game);
    }

    private void SetInfo(GameInfo game)
    {
        gameDesc = game.Manifest.Description;
        gameName = game.GameName;
        playersNeeded = game.Manifest.PlayersNeeded;
    }

    private void ObtainImage(GameInfo game)
    {
        imageBase64 = gameservice.ShowImage(game);

        imgSrc = String.Format("data:image/gif;base64,{0}", imageBase64);
    }
}
