@using ArcadeLauncher.Models;
@using Microsoft.AspNetCore.Components.Web
@using ArcadeLauncher.Services;
@inject GameService gameservice;

@{
    Game[] games = gameservice.GetAllManifests();
}

<div class="">
    <div class="top-padding">
        @for (int i = 0; i < games.Length; i++)
        {
            Game game = games[i];
            ObtainImage(game);
            <button style="background-image: url(@imgSrc); --mainColor: @game.BackgroundColor; " loading="lazy" data-index="@(1 + i)" class="play-btn" @onfocus="() => SetInfo(game)" @onclick="() => OpenExe(game)"></button>
        }
    </div>
</div>


<div class="info-board info-padding">
    <div class="font-text big-text">
        @gameName
        <div class="font-text">
            @gameDesc
        </div>

    </div>
</div>
@code {
    private int currentCount = 0;

    private string gameDesc;
    private string gameName;

    private string imageBase64;
    private string imgSrc = "";

    private void OpenExe(Game game)
    {
        gameservice.OpenExe(game);
    }

    private void SetInfo(Game game)
    {
        gameDesc = game.Description;
        gameName = game.Name;
    }

    private void ObtainImage(Game game)
    {
        imageBase64 = gameservice.ShowImage(game);

        imgSrc = String.Format("data:image/gif;base64,{0}", imageBase64);
    }
}
