@using ArcadeLauncher.Models;
@using Microsoft.AspNetCore.Components.Web
@using ArcadeLauncher.Services;
@inject GameService gameservice;

@{
    Game[] games = gameservice.GetAllManifests();
}
<h3>Arcade Menu</h3>

@foreach(Game game in games)
{
    ObtainImage(game);
    <button style="background-image: url(@imgSrc) "class="tooltip btn btn-primary play-btn" @onclick="() => OpenExe(game)"></button>
}

@code {
    private int currentCount = 0;
    private string gameName;
    private string gameDesc;

    private string imageBase64;
    private string imgSrc = "";

    private void OpenExe(Game game)
    {
        gameservice.OpenExe(game);
    }

    private void ObtainImage(Game game)
    {
        imageBase64 = gameservice.ShowImage(game);

        imgSrc = String.Format("data:image/gif;base64,{0}", imageBase64);
    }
}
